{
    "extends": "airbnb",
    "plugins": [
        "react"
    ],
    "rules": {
        "new-cap": [
            "error",
            "capIsNewExceptions": [
                "Map", "List"
            ]
        ]
    }
}
